@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: 0, 60, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  min-height: 100vh;
}

main {
  height: 100%;
  min-height: 100vh;
}

#background {
  background: radial-gradient(
    182.3% 69% at 50% 8.4%,
    #ffffff 0%,
    rgb(255, 255, 255) 28.35%,
    rgba(255, 255, 255, 0.88) 46.4%,
    hsla(0, 0%, 100%, 0) 99.95%
  );
}

#background2 {
  background: radial-gradient(
    112.79999999999998% 100% at 0% 100%,
    #003bff 0%,
    hsl(219, 100%, 50%) 38.509540840001236%,
    hsl(262, 100%, 67%) 74.08234947205608%,
    hsl(287, 100%, 50%) 99.95393495930529%
  );
}

a.link {
  font-weight: 300;
  transition: all 1s ease-out;
}

a.link:hover {
  font-weight: 400;
  transition: all 1s ease-out;
}

a.active {
  text-decoration: underline;
  text-underline-offset: 2px;
}

a.button {
  background: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.35)
  );
  padding: 0.5rem 0.8rem;
  border-radius: 1rem;
  transition: all 0.35s ease-in-out;
}

a.button:hover {
  padding: 0.58rem 0.88rem;
}

.animate-logo {
  overflow: visible;
  stroke: #000;
  stroke-width: 0.2;
  stroke-linejoin: round;
  stroke-linecap: round;
}
